<!DOCTYPE html>
<html lang="es">
<head>
  <%- include ('template/head') %>
  <title>Sobre Nosotros</title>
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/about_us.css"/> 

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"/>

  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css" />
  
</head>
<body>
  <%- include ('template/header') %>
  <main class="body">
    <div class="content">
      <div class="body-title">
        <h1>Sobre Nosotros</h1>
      </div>
      <div class="body-text">
        <p>
          Esta plataforma facilitará a los estudiantes el acceso a un sistema de gestión de publicaciones científicas de la ULEAM, permitiendo una organización rápida y sencilla. Creada en 2024, busca convertirse en el sitio web más utilizado por los estudiantes para gestionar sus publicaciones científicas, ofreciendo fácil acceso y una amplia variedad de recursos.
        </p>
        <p>
          Con esta plataforma, los usuarios tendrán acceso a una amplia gama de contenido y la posibilidad de publicar artículos científicos de interés para toda la comunidad universitaria. También ofrece un directorio para buscar publicaciones específicas, seleccionando cuidadosamente proveedores y herramientas en línea de última generación para facilitar la organización desde cualquier dispositivo.
        </p>
      </div>
      <img src="/images/u.jpg" alt="Imagen de la ULEAM"> </div>
  </main>
  
  
  <%- include ('template/footer') %>
  </body>
</html>
